.main-part-slider {
    height: 400px;
    position: relative;
    top: -70px;
    left: -40px;
    background-color: chocolate;
    img {
        display: block;
        height: 100%;
    }
}